/** Copyright 2017, Aria Solutions Inc.
*
* All Rights Reserved
* Customers of Aria Solutions are permitted to use and modify this 
 * code in all of their Salesforce Orgs (Production, Sandboxes), but 
 * any form of distribution to other Salesforce Orgs not belonging to 
 * the customer require a written permission from Aria Solutions. 
 */

/**
 * Created by rmiller on 9/7/2017.
 */
.THIS .avoid-clicks{
  pointer-events:none;
  color:grey;
  cursor: not-allowed;
}
.THIS .btn_Refresh{
  margin-left:10px;
  margin-top:5px;
  cursor:pointer;
}
.THIS .popover {
  min-height: 100px;
  max-width:100px;
}
.THIS .slds-popover__header {
  background-color:white;
}