.THIS .nested_component {
  margin: 10px 0;
}
.THIS .info_details  {
  width: 90%;
}
.THIS h3.slds-section-title--divider {
  text-align: center;
}
.THIS .right_panel  {
  float: right;
}
.THIS .error_message  {
  color: red;
  text-align: center;
  margin-top: 8px;
}
.THIS .box {
  width: 90%;
  display: block;
  margin: auto;
}
.THIS .field{
  margin: 10px 0;
}
.THIS .title{
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
}
.THIS .outputField  {
  font-size: 14px;
  color: #080707;
}
.THIS .inner_text {
  text-align: center;
}