.hidden {
  display: none;
}

.numberCircle {
  border-radius: 50%;

  width: 40px;
  height: 40px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 32px Arial, sans-serif;
  margin: auto;
}

.caseList {
  margin-top: 8px;
}