/** Copyright 2018, Aria Solutions Inc.
 *
 * All Rights Reserved
 * Customers of Aria Solutions are permitted to use and modify this 
 * code in all of their Salesforce Orgs (Production, Sandboxes), but 
 * any form of distribution to other Salesforce Orgs not belonging to 
 * the customer require a written permission from Aria Solutions.
 * Created on 16-Jul-18. 
 */

.THIS.nested_component {
  margin: 20px 0 50px;
}
.THIS .info_details  {
  width: 90%;
}
.THIS h3.slds-section-title--divider {
  text-align: center;
}
.THIS .right_panel  {
  float: right;
}
.THIS .error_message  {
  color: red;
  text-align: center;
  margin-top: 8px;
}