/** Copyright 2018, Aria Solutions Inc.
 *
 * All Rights Reserved
 * Customers of Aria Solutions are permitted to use and modify this 
 * code in all of their Salesforce Orgs (Production, Sandboxes), but 
 * any form of distribution to other Salesforce Orgs not belonging to 
 * the customer require a written permission from Aria Solutions.
 * Created on 14-Dec-18. 
 */

.THIS .nested_component {
  margin: 10px 0;
}
.THIS .info_details  {
  width: 90%;
}
.THIS h3.slds-section-title--divider {
  text-align: center;
}
.THIS .right_panel  {
  float: right;
}
.THIS .error_message  {
  color: red;
  text-align: center;
  margin-top: 8px;
}
.THIS .transcript_box {
  width: 90%;
  display: block;
  margin: auto;
}
.THIS .scrollerSize {
    height: 300px;
}
.THIS .field{
  margin: 10px 0;
}