/** Copyright 2018, Aria Solutions Inc.
 *
 * All Rights Reserved
 * Customers of Aria Solutions are permitted to use and modify this 
 * code in all of their Salesforce Orgs (Production, Sandboxes), but 
 * any form of distribution to other Salesforce Orgs not belonging to 
 * the customer require a written permission from Aria Solutions.
 * Created on 10-Sep-19. 
 */

.THIS .button {
  margin: 20px auto;
}
.THIS .message {
  position: absolute;
  float: right;
  bottom: 110px;
  left: 185px;
  color: red;
}