<!-->
 * All Rights Reserved
 * Customers of Aria Solutions are permitted to use and modify this
 * code in all of their Salesforce Orgs (Production, Sandboxes), but
 * any form of distribution to other Salesforce Orgs not belonging to
 * the customer require a written permission from Aria Solutions
 * ***************************************************
 * Created Date: Monday November 11th 2019
 * Author: varonov
-->

<apex:page id="SC_CallRecordingSegment" standardController="ASP_Interaction_Segment__c" title="Call Recording" showHeader="false" sideBar="false" docType="html-5.0">
  <div style="margin-top:20px"><c:SC_CallRecordingPlayer urlToMedia="{!ASP_Interaction_Segment__c.Call_Recording__c}" /></div>
</apex:page>