<!--
 * All Rights Reserved
 * Customers of Aria Solutions are permitted to use and modify this
 * code in all of their Salesforce Orgs (Production, Sandboxes), but
 * any form of distribution to other Salesforce Orgs not belonging to
 * the customer require a written permission from Aria Solutions
 * ***************************************************
 * Created Date: Friday November 8th 2019
 * Author: varonov
-->

<apex:page standardController="Task" showHeader="false" title="Transcript" standardStylesheets="false" lightningStylesheets="true">
  <apex:slds />
  <apex:outputText value="{!Task.Interaction_Segment__r.Transcript__c}" escape="false" />
</apex:page>