﻿@font-face {
  font-family: 'Salesforce Sans';
  src: url('./ariavel__Velocity_Resource/SalesforceSans-Regular.eot');
  src: url('./ariavel__Velocity_Resource/SalesforceSans-Regular.eot?#iefix') format('embedded-opentype'), url('./ariavel__Velocitiy_Resource/SalesforceSans-Regular.woff2') format('woff2'), url('./ariavel__Velocity_Resource/SalesforceSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #e0e8e8;
  font-family: 'Salesforce Sans', 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: #fbffff;
  overflow: hidden;
}

/* SCREEN **************************************************************/
.phone .screen {
  box-sizing: border-box;
}

.phone .screen > .content{
  padding-top: 6px;
}

.phone .contactCard > div,
.phone input.textInput {
  color: #464646;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  font-size: 13px;
  line-height: 18px;
  background-color: rgb(255,255,255);
  border-color: rgb(216,221,230);
  box-sizing: border-box;
  border-left-color: transparent;
  border-right-color: transparent;
}

.phone .horizontal input:not([type]), input[type="text"]:focus,
.phone .vertical input:not([type]), input[type="text"]:focus,
.phone .contactCard > div:focus,
.phone input:focus {
  outline-width: 0;
  border-color: rgb(82, 120, 152);
}

.phone .panel.phone .panel.content {
  height: calc(100% - (31px + 40px)); /* header = 31px; footer = 40px*/
  overflow: hidden;
}

.phone .vertical div.panel.footer {
  padding-bottom: 10px;
}

.phone .panel.content > .panel {
  overflow: hidden;
}

.phone .label {
  white-space: pre;
  font-size: 12.5px;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  color: rgb(22, 50, 92);
}

.phone select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 12.5px;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  color: #015ba7;
  background-color: inherit;
  padding: 0 10px;
}

.phone select:hover {
  text-decoration: underline;
}

.phone select:focus {
  outline: none;
}

.phone option {
  padding: 3px;
}

.phone svg path {
  fill: inherit;
}

.phone button > .image {
  border-width: 1.5px;
  border-style: solid;
  /*  border-radius: 5px;*/
}

.phone td:only-child {
  padding: 4px 0;
}

/* CALLSCREEN *****************************************************************/
.phone .screen.call .title2 {
  font-size: 12.5px;
  color: #16325c;
  font-weight: normal;
}

.phone .main.call .title2 {
  text-align: right;
}

.phone div.call > div.content > div.panel > div {
  border: solid transparent;
  border-width: 0 5px;
}

.phone div.call > div.content > div.panel > div.buttons {
  border: none;
}

.phone div.panel.call div.panel.section.content > :not(.buttons) {
  box-sizing: border-box;
  border-collapse: collapse;
  border-width: 0 6px;
  border-style: solid;
  border-color: transparent;
}

/* LOGIN SCREEN **********************************************************************/

.phone > .panel.login {
  padding-top: 3px;
}

.phone .button.loginButton {
  margin-top: 8px;
  padding: 6px;
}

.phone div.panel.login div.panel.field div.label {
  padding-left: 5px;
}


/* DIAL SCREEN **********************************************************************/

.phone div.dial div.content div.label {
  padding-left: 5px;
}

/* PHONEBAR *******************************************************************/

.phone .phoneBar {
  box-sizing: border-box;
  /*  border-radius: 8px 8px 0 0;*/
  background-color: rgb(247, 249, 251);
  border-bottom: 1px solid #dedede;
}

.phone .phoneBar .calls button {
  background-color: rgb(247, 249, 251);
  height: unset;
}

.phone .phoneBar .calls button svg > path {
  fill: #16325c;
}

.phone .phoneBar .calls button:hover {
  background: rgb(247, 249, 251);
}

.phone .phoneBar .calls button:hover > .image {
  background: rgb(247, 249, 251);
}

.phone .phoneBar .calls button svg > path {
  fill: #16325c;
}

.phone .phoneBar .calls button:disabled svg > path {
  fill: #7d8385;
}

.phone .phoneBar .calls .button > .image {
  background-color: unset !important;
}

.phone .phoneBar .multiButton > .container > button:enabled > .text {
  font-size: 12.5px;
  font-weight: bold;
  color: #015ba7;
}

.phone .phoneBar .calls {
  border-spacing: 8px 0;
}

.phone .phoneBar .calls > .container {
  overflow: hidden;
}

.phone .phoneBar .calls, 
.phone .phoneBar .calls > .container, 
.phone .phoneBar .calls .button > .image,
.phone .gridPanel.phoneBar .multiButton.calls .container .button  {
  border: none;
}

/* BUTTONS **********************************************************************/
.phone button > .text {
  width: inherit;
  background-image: none;
  font-size: 12.5px;
}

.phone button {
  background-image: none;
  background-color: #f8f8f8;
  border: 1px solid #e0e5ee;
  border-width: 1px 0;
  font-family: 'Salesforce Sans',Helvetica,Arial,sans-serif; /* user agent stylesheet will override html font-family  */
  font-size: 12.5px;
  padding: 6px 2px;
}

.phone button:enabled > .text {
  color: #fff;
}

.phone button:enabled {
  background-color: rgb(48, 79, 127);
  border-color: rgb(86, 114, 156);
}

.phone button:hover:enabled {
  background-color: rgb(61, 102, 166);
  border-color: rgb(106, 149, 213);
}

.phone button:active:enabled > .text {
  color: rgb(35, 58, 94);
}

.phone button:active:enabled {
  background-color: #fff;
  border-color: rgb(75, 113, 172);
}

/* MULTIBUTTON **********************************************************************/
.phone .multiButton, .multiButton .container,
.phone .multiButton .container .button {
  border: none;
  box-sizing: border-box;
}

.phone .multiButton {
  overflow: hidden;
}

.phone .multiButton .container .button:disabled {
  border: solid #e0e5ee;
  border-width: 1px 1px 1px 0;
}

.phone .multiButton div.container:last-child .button {
  border-right: none;
}

.phone .multiButton .container .button:enabled {
  border: solid rgb(86, 114, 156);
  border-width: 1px 1px 1px 0;
}

.phone .multiButton .container .button:enabled:active {
  border-top-color: rgb(48, 79, 127);
  border-bottom-color: rgb(48, 79, 127);
}

.phone .multiButton div.container:last-child .button {
  border-right: 1px solid #f8f8f8;
}

.phone .multiButton div.container:last-child .button:enabled,
.phone .multiButton div.container:last-child .button:enabled:active {
  border-right-color: rgb(48, 79, 127);
}

.phone .multiButton div.container:first-child .button {
  border-left: 1px solid #f8f8f8;
}

.phone .multiButton div.container:first-child .button:enabled,
.phone .multiButton div.container:first-child .button:enabled:active {
  border-left-color: rgb(48, 79, 127);
}

/* CONTACT CARD ***************************************************************************/
.phone .contactCard div {
  background-color: inherit;
  border: none;
  width: inherit;
}

.phone div.contactCard div.header > div.label {
  color: rgb(22, 50, 92);
  font-size: 1.4em;
  line-height: 25px;
  font-weight: normal;
}

.phone .contactCard .header .label,
.phone .contactCard .subfield .label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.phone .contactCard div.image svg {
  fill: #f88962;
}

/* PHONEBOOK **************************************************************************/
.phone div.phoneBook {
  color: #464646;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgb(216,221,230);
  border-top: none;
  overflow: auto !important;
}

.phone div.phoneBook > div:nth-child(even) {
  background-color: #f2f7ff;
}

.phone div.phoneBook .image svg {
  fill: #46722c;
}

.phone div.phoneBook .image {
  vertical-align: top;
}

.phone div.phoneBook .label {
  font-family: 'Salesforce Sans';
  color: #16325c;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  cursor: context-menu;
}

/* IMAGES 'n STUFF *******************************************************************/
.phone button > div.image > svg > path {
  opacity: 1;
  fill: #fff;
}

/* TREEBRANCH ***********************************************************************/

.phone div.node,
.phone div.branch {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  box-sizing: border-box;
}

.phone .treeNode {
  border-right: 2px solid transparent;
}

.phone .selected > .treeNode {
  border-right-color: rgb(238, 99, 21);
  background-color: rgb(224, 234, 251);
}

.phone .treeNode:hover {
  background-color: rgb(218, 225, 236);
}

.phone div.treeNode > .label {
  vertical-align: middle;
}

.phone div.imageArea {
  border-left: 2px solid transparent;
}

.phone div.imageArea.button:hover {
  box-sizing: border-box;
  border-left: 2px solid rgb(238, 99, 21);
}

.phone div.imageArea.button:active {
  background-color: rgb(255, 148, 88);
}

/* READYSTATE **********************************************************************/
.phone div.readyState.menuOpened > .selectMenu {
  /*  border-radius: 3px;*/
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .75);
  overflow-x: hidden;
  overflow-y: auto;
}

.phone div.readyState.menuOpened > .selectMenu > div {
  color: #222;
  text-decoration: none;
  font-size: 12.5px;
}

.phone div.readyState:hover {
  cursor: pointer;
}

.phone div.readyState:hover > div.label {
  text-decoration: underline;
}

.phone div.selectMenu > div {
  border-left: 5px solid transparent;
}

.phone div.selectMenu > div:hover {
  outline: none;
  color: #015ba7;
  text-decoration: underline;
  background-color: rgb(218, 225, 236);
  border-left-color: rgb(238, 99, 21);
}

/* KVP **********************************************************************/
.phone ul.kvpList {
  list-style: none;
  margin: 0;
  height: 60px;
}

.phone li > div.label.kvpKey,
.phone li > div.label.kvpValue {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #464646;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

/* CallList **********************************************************************/
.phone .screen.callList .panel.callList > .call {
  border: 1px solid rgb(216, 221, 230);
  border-radius: 0.25rem;

  background: rgb(244, 246, 249);
  margin: 10px 0;
  overflow: hidden;
}

.phone .screen.callList .panel.callList > .call .contactCard {
  padding: 6px 10px;
}
