/** Copyright 2018, Aria Solutions Inc.
 *
 * All Rights Reserved
 * Customers of Aria Solutions are permitted to use and modify this 
 * code in all of their Salesforce Orgs (Production, Sandboxes), but 
 * any form of distribution to other Salesforce Orgs not belonging to 
 * the customer require a written permission from Aria Solutions.
 * Created on 16-Jul-18. 
 */

.THIS.new_record_button {
  text-align: center;
}
.THIS.slds-table {
  margin: 20px 0;
}
.THIS.center  {
  text-align: center;
}
.THIS.slds-section-title--divider {
  background: #e42374;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 15px;
  color: #ffffff;
  padding: 0;
}