/** Copyright 2018, Aria Solutions Inc.
 *
 * All Rights Reserved
 * Customers of Aria Solutions are permitted to use and modify this 
 * code in all of their Salesforce Orgs (Production, Sandboxes), but 
 * any form of distribution to other Salesforce Orgs not belonging to 
 * the customer require a written permission from Aria Solutions.
 * Created on 16-Apr-18. 
 */

.THIS .css-slider-wrapper {
  display: block;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
  height:100%;
  width:100%;
  border-radius: 5px;
  border: #E5E8E8 1px solid;
}

.THIS .slider {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  z-index: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.THIS .css-slider-wrapper input[type="radio"] {
  display:none;
}

.THIS .slider h1 {
  font-weight: 500;
  font-size: 2em;
  line-height: 120%;
  margin-bottom: 25px;
  color: #39398C;
  text-align: center;
}

.THIS .slider-pagination {
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 1000;
}

.THIS .slider-pagination label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(150,150,150,0.2);
  margin: 0 2px;
  border: solid 1px rgba(150,150,150,0.4);
  cursor: pointer;
}

/* display respective checkboxes selected on slide change */
.THIS .slide-radio1:checked ~ .slider-pagination .page1,
.THIS .slide-radio2:checked ~ .slider-pagination .page2,
.THIS .slide-radio3:checked ~ .slider-pagination .page3,
.THIS .slide-radio4:checked ~ .slider-pagination .page4,
.THIS .slide-radio5:checked ~ .slider-pagination .page5,
.THIS .slide-radio6:checked ~ .slider-pagination .page6,
.THIS .slide-radio7:checked ~ .slider-pagination .page7,
.THIS .slide-radio8:checked ~ .slider-pagination .page8,
.THIS .slide-radio9:checked ~ .slider-pagination .page9,
.THIS .slide-radio10:checked ~ .slider-pagination .page10 {
  background: rgba(150,150,150,1);
}

/* Only 10 slides supported */
.THIS .slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.THIS .slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.THIS .slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

.THIS .slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

.THIS .slide-radio5:checked ~ .slider {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}

.THIS .slide-radio6:checked ~ .slider {
  -webkit-transform: translateX(-500%);
  transform: translateX(-500%);
}

.THIS .slide-radio7:checked ~ .slider {
  -webkit-transform: translateX(-600%);
  transform: translateX(-600%);
}

.THIS .slide-radio8:checked ~ .slider {
  -webkit-transform: translateX(-700%);
  transform: translateX(-700%);
}

.THIS .slide-radio9:checked ~ .slider {
  -webkit-transform: translateX(-800%);
  transform: translateX(-800%);
}

.THIS .slide-radio10:checked ~ .slider {
  -webkit-transform: translateX(-900%);
  transform: translateX(-900%);
}

.THIS .scroll {
  overflow-y: auto;
  height: 75%;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
}

.THIS .scroll p {
  color: #707B7C;
}

.THIS .scrollbarStyle::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(216, 237, 255, 1);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.THIS .scrollbarStyle::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.THIS .scrollbarStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(216, 237, 255, 1);
  background-color: #999;
}

.THIS .errorMessage {
  color: #C0392B;
  display: block;
  margin: auto;
}

.THIS .postedDate {
  margin-bottom: 15px;
}

.THIS .slider p img {
  float: left;
  margin: 10px 20px 10px 0;
}

/*Smaller Screens*/
@media only screen and (max-width: 767px) {
  .THIS .slider h1 {
    font-size: 1.5em;
  }

  .THIS .slider > div {
    padding: 0 2%
  }

  .THIS .slider .bodyContent {
    font-size: 0.8rem;
  }
}