/** Copyright 2018, Aria Solutions Inc.
 *
 * All Rights Reserved
 * Customers of Aria Solutions are permitted to use and modify this 
 * code in all of their Salesforce Orgs (Production, Sandboxes), but 
 * any form of distribution to other Salesforce Orgs not belonging to 
 * the customer require a written permission from Aria Solutions.
 * Created on 25-Jul-18. 
 */

.THIS.page_header {
  text-align: center;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1em;
}
.THIS.error_message  {
  color: red;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.THIS.slds-section-title--divider {
  background: #e42374;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 15px;
  color: #ffffff;
  padding: 0;
}