.slds-scope .myapp {
  height:  360px;
}
.slds-scope .hidden {
  display: none;
}
.slds-scope .open-case-icon {
  cursor: pointer;
}
.slds-scope .inline-container {
  display: block;
  position: inherit;
}
.slds-scope .customMessage * {
  color: #fff!important
}
.slds-scope .customMessage {
  margin: 5px 0!important;
  max-width: 1280px;
  opacity: 1!important;
  width: 100%;
  font-size: 16px;
  border: 0px;
  padding-left: 10px;
}
